body {
    background-color: #f2c844 !important;
}

table {
    border-spacing: 10px;
    padding: 20px;
}

th, td {
    padding: 10px
}

.red-title{
    color: red;
}

.burgersize {
    max-width: 153px !important;
    height: auto;
    margin: 0px auto;
    padding-top: 20px;
}

.whitebg {
    background-color: white !important;
}

.eaten {
    color: grey;
    background-color: lightgray !important;
    border-spacing: 10px !important;
}

.noborder {
    border: none !important;
}

.spacer {
    padding-top: 20px;
}